---
import "~/styles/base.css";
import { SEO } from "astro-seo";

import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";
import BookingModal from "~/components/BookingModal.astro";

// Import font files for preloading
import interLatinWoff2 from "@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url";
import vollkornLatinWoff2 from "@fontsource-variable/vollkorn/files/vollkorn-latin-wght-normal.woff2?url";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Favicon -->
    <link rel="icon" href="/favicon.svg" />

    <!-- Add preload links before SEO component -->
    <link
      rel="preload"
      href={vollkornLatinWoff2}
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href={interLatinWoff2}
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <SEO
      title={title
        ? `${title} | State of Mind Psychiatry, LLC`
        : "State of Mind Psychiatry, LLC"}
      description="State of Mind Psychiatry, LLC is a psychiatry practice in Starkville, Mississippi that provides comprehensive mental health care to adults and adolescents."
      openGraph={{
        basic: {
          title: title
            ? `${title} | State of Mind Psychiatry, LLC`
            : "State of Mind Psychiatry, LLC",
          type: "website",
          image: "/og-image.png",
        },
      }}
      twitter={{
        creator: "@stateofmindpsychiatry",
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "/og-image.png",
          },
          {
            name: "twitter:title",
            content: `${title} | State of Mind Psychiatry, LLC`,
          },
          {
            name: "twitter:description",
            content:
              "State of Mind Psychiatry, LLC is a psychiatry practice in Starkville, Mississippi that provides comprehensive mental health care to adults and adolescents.",
          },
        ],
      }}
    />
  </head>
  <body class="font-sans bg-neutral-200 min-h-screen">
    <BookingModal intakeqId="67210cd9466898d6e239ad00" />
    <Header />
    <slot />
    <Footer />
  </body>
</html>
